@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* display: flex; */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.dark {
  background-color: rgb(17 24 39);;
  color: rgb(241 245 249);
}
