@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* display: flex; */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.dark {
  background-color: #111827;
  color: #f3f4f6;
}
